.width-container {
    margin: auto;
    width: 100%;
    max-width: 980px;
    height: 100vh;
  }

mat-card, .user-card {
  margin: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 30px;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.user-card mat-card-title a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.src-conteiner {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.src-conteiner .friends-src {
  width: 90%;
  border-radius: 30px;
  height: 40px;
  font-size: 20px;
  padding-left: 20px;
}