@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700;800&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
  background-color: rgb(255, 226, 241);
}
mat-sidenav button {
  width: 100%;
  text-align: left;
}

.conteiner {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 980px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.width-container {
  margin: auto;
  width: 100%;
  max-width: 980px;
  height: 100vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.conteiner .left-side {
  position: relative;
  background: rgb(6, 26, 53);
  padding: 0px 40px 40px 40px;
}

.actions {
  margin: 10px;
}

.actions button {
  color: #fff;
  margin-right: 5px;
}

.left-side figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.left-side figure img {
  position: relative;
  height: 200px;
}

.left-side figcaption {
  margin-top: 20px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4em;
}
.left-side figcaption span {
  font-size: 0.8em;
  font-weight: 300;
}

.car-info {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.car-info {
  position: relative;
}
.car-info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.car-info ul li span,
.car-info ul li span a {
  color: #fff;
  text-decoration: none;
}

.car-info span {
  cursor: default;
}

.conteiner .right-side {
  padding: 100px 40px 40px 40px;
}

.about {
  margin-bottom: 70px;
}

.about:last-child {
  margin-bottom: 0;
}

.about-title {
  color: rgb(6, 26, 53);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 10px;
}

.purchase-story {
  color: #333;
  height: 200px;
}

.show {
  overflow: visible;
  height: auto;
}

.hide {
  overflow: hidden;
}

.about .box {
  display: flex;
  flex-direction: row;
}

.about .box .tuning-style h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

@media (max-width: 980px) {
  .conteiner {
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .conteiner {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .figure {
    width: 90%;
  }
}
